:root {
    /* Variáveis já existentes */
    --cor-primaria: #1E90FF;
    --bs-azul-escuro: #104E8B;
    --cor-fundo: #121212;
    --cor-menu: #232323;
    --cor-texto-principal: #EAEAEA;
    --cor-texto-secundario: #B0B0B0;
    --cor-hover: #4682B4;
    --cor-erro: #B22222;
    --cor-sucesso: #2E8B57;
    --cor-cinza-fosco-1: #6C757D;
    --cor-cinza-fosco-2: #343A40;
    --cor-cinza-fosco-3: #212529;
    --cor-gelo-1: #A9A9A9;
}

* {
    text-decoration: none;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
}
body {
    padding-top: 0px; /* Ajuste para header fixo */
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden; /* Impede o scroll horizontal */
}
html {
    overflow-x: hidden;
    font-size: 87.5%; /* Base de 14px */
}
/* Compensação do scroll para a altura do cabeçalho */
section {
    scroll-margin-top: 80px; /* Ajuste este valor conforme a altura do cabeçalho */
}
header {
    background-color: var(--cor-menu);
   
}
@media (max-width: 768px) {
    section {
        scroll-margin-top: 60px; /* Ajuste menor para dispositivos móveis */
    }
}

#home {
    margin-top: 100px; /* Espaço superior para afastar do header */
}

.navbar-nav .nav-link {
    color: var(--cor-texto-secundario);
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
   
}

.navbar-nav .nav-link:hover {
    color: var(--cor-hover); /* Cor de hover definida */
    transform: translateY(-2px); /* Efeito de leve elevação */
}

.navbar-nav .nav-link[href="#home"] {
    color: var(--cor-primaria); /* Link de "Início" em azul vibrante */
}

/* Estilo do botão de download de currículo */
.btn-custom {
    background: transparent;
    color: var(--cor-hover); 
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid var(--cor-hover);
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Sombra leve para o botão */
}

.btn-custom:hover {
    background-color: var(--cor-hover); /* Azul mais claro no hover */
    transform: scale(1.05); /* Leve aumento no hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra mais intensa no hover */
}

/* Ícone do botão */
.btn-custom .fas {
    margin-right: 8px;
    color: var(--cor-texto-principal);
}


.social-buttons .btn-social {
    color: var(--cor-texto-principal);
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.social-buttons .btn-social:hover {
    background-color: var(--cor-hover); /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Efeito de leve aumento no hover */
    color: var(--cor-texto-principal);
}

.projects-section {
    background-color: #232323;
}

.project-card {
    position: relative;
    overflow: hidden;
    background: #1c1c1c;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.project-image img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.project-info {
    padding: 16px;
    color: var(--cor-texto-principal);
}

.tech-icons i {
    font-size: 1.3em;
    color: #eaeaea;
    margin-right: 8px;
}

.tech-icons i:hover {
    color: var(--cor-primaria); /* Ou qualquer cor de destaque */
}

.footer {
    background-color: var(--cor-menu);
    color: var(--cor-texto-principal);
}

.footer-logo {
    width: 190px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li a {
    color: var(--cor-texto-secundario);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links li a:hover {
    color: var(--cor-hover);
}

.social-links .btn-social {
    color: var(--cor-texto-principal);
    font-size: 1.5rem;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.social-links .btn-social:hover {
    color: var(--cor-hover);
}

/* Botão fixo do WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #fff;
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: transform 0.2s, box-shadow 0.2s;
}

.whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}
