:root {
    /* Cores principais */
    --cor-primaria: #4192fc; /* Azul padrão */
    --cor-fundo: #ffffff;
    --cor-menu: #232323;
    --cor-texto-principal: #EAEAEA;
    --cor-texto-secundario: #B0B0B0;

    /* Cores de título e hover */
    --cor-titulo: var(--cor-texto-principal);
    --cor-hover: #ffd700; /* Amarelo para hover */

    /* Cores para botões */
    --cor-botao: var(--cor-primaria);
    --cor-botao-hover: var(--cor-hover);

    /* Cores específicas de ícones de redes sociais */
    --cor-github: #171515;
    --cor-linkedin: #0077b5;
    --cor-instagram: #e1306c;
    --cor-facebook: #1877f2;
    --cor-whatsapp: #25d366;

    /* Outras cores */
    --cor-erro: #B22222;
    --cor-sucesso: #2E8B57;

    /* Tons de cinza */
    --cor-cinza-claro: #A9A9A9;
    --cor-cinza-medio: #6C757D;
    --cor-cinza-escuro: #343A40;
    --cor-cinza-mais-escuro: #212529;

    /* Espaçamentos */
    --espacamento-secao: 80px;
}


* {
    text-decoration: none;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
}

body {
    padding-top: 0px; /* Ajuste para header fixo */
    overflow-x: hidden; /* Impede o scroll horizontal */
}

html {
    overflow-x: hidden;
    font-size: 87.5%; /* Base de 14px */
    font-family: Poppins, sans-serif;
}

/* Compensação do scroll para a altura do cabeçalho */
section {
    scroll-margin-top: 80px; /* Ajuste este valor conforme a altura do cabeçalho */
}

@media (max-width: 768px) {
    section {
        scroll-margin-top: 60px; /* Ajuste menor para dispositivos móveis */
    }
}

/* Exemplo de conteúdo principal com padding para compensar o header fixo */
.btn-custom {
    display: flex;
    align-items: center; /* Centraliza verticalmente o ícone e o texto */
    color: var(--cor-primaria);
    padding: 12px 20px; /* Ajuste o preenchimento do botão */
    border-radius: 50px; /* Botão arredondado */
    border: 2px solid var(--cor-primaria);
    font-weight: 600; /* Estilo de fonte mais forte */
    font-size: 1.1rem; /* Tamanho da fonte do botão */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Efeitos de transição */
    text-decoration: none; /* Remove sublinhado */
}
.btn-custom:hover {
    background-color: var(--cor-botao-hover);
    color: #000000;
    transform: translateY(-3px); /* Levanta o botão ao passar o mouse */
}
.btn-custom i {
    font-size: 1.3rem; /* Tamanho do ícone */
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}
.nav-link:hover {
    color: var(--cor-primaria) !important;
}
/* Seção Home */
.home-section {
    position: relative;
    height: 100vh; /* Altura da seção */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centraliza o texto */
}

/* Ajustes para a logo */
.logo {
    height: 40px;
}

/* Cor de fundo e bordas do botão de navegação */
.navbar-toggler {
    border: none;
    color: #fff;
}

/* Estilos para links de navegação */
.navbar-nav .nav-link {
    color: #fff;
    transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover {
    color: #ffd700;
}

/*************************************HOME***********************************************/
.btn-1 .btn {
    display: flex;
    align-items: center; /* Centraliza verticalmente o ícone e o texto */
    color: var(--cor-cinza-mais-escuro);
    padding: 8px 15px; /* Ajuste o preenchimento do botão */
    border-radius: 50px; /* Botão arredondado */
    border: 2px solid var(--cor-cinza-mais-escuro);
    font-weight: 600; /* Estilo de fonte mais forte */
    font-size: 1rem; /* Tamanho da fonte do botão */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Efeitos de transição */
    text-decoration: none; /* Remove sublinhado */
}
.btn-1 .btn:hover {
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
    color: #000000;
    transform: translateY(-3px); /* Levanta o botão ao passar o mouse */
}
.btn-1 .btn i {
    font-size: 1.3rem; /* Tamanho do ícone */
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}
#home img {
   width: 100%; /* Para que a imagem não ultrapasse a largura do seu container */
    height: auto; /* Mantém a proporção original da imagem */
}
/***********************************Vantagens *************************************************/
.icon-circle {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: inline-block;
    text-align: center;
    line-height: 80px; /* Centraliza o ícone verticalmente */
}

@media (max-width: 768px) {
    .icon-circle {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
}
/***********************************Vantagens *************************************************/
.card {
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px; /* Arredondar os cantos dos cartões */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.icon-circle {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    background-color: #4192fc; /* Fundo do ícone */
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 0.9rem;
    color: #6c757d; /* Cor do texto */
}

/* Estilo para o fundo do Pacote Business */
.bg-primary {
    background-color: #007bff !important; /* Azul mais escuro para o card */
}

/* Estilo para os ícones de verificação */
.bi-check-circle-fill {
    color: #28a745; /* Verde para ícones de verificação */
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.bg-light-subtle:hover{
    border: 2px solid white!important;
}

/*********************************** Serviços *************************************************/
#services {
    background-color: var(--cor-fundo);
}

#services h2 {
    color: var(--cor-primaria);
    font-size: 2.5rem;
    font-weight: bold;
}

#services p {
    color: var(--cor-texto-principal);
    font-size: 1.1rem;
    line-height: 1.6;
}

/*********************************** Skills *************************************************/
.card {
    transition: transform 0.3s ease;
    min-height: 350px; /* Altura mínima para manter todos os cards com o mesmo tamanho */
    border: none;
}

.card:hover {
    transform: translateY(-10px); /* Elevação suave no hover */
}

.card-header {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-header i {
    font-size: 3rem; /* Tamanho grande para os ícones */
}

.card-body {
    padding: 20px;
    background-color: #f9f9f9; /* Fundo claro no corpo do card */
    color: #333;
}

.card-body p {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.6;
}
